<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>

<div class="background">
  <div class="container py-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <%= image_tag(logo_image, class: "", alt:"") %>
      </div>
    </div>
  </div>
</div>

<div class="container py-7">
  <div class="row">
    <div class="col-sm-12 text-center">
      <p class="lead offset-lg-2 col-lg-8 col-sm-12">
          <%= t("landing.about") %>
      </p>
      <p class="lead offset-lg-2 col-lg-8 col-sm-12">
          <%= t("landing.no_apps") %>
      </p>
      <%= link_to "https://www.youtube.com/watch?v=Q2tG2SS4gXA", target: "_blank" do %>
        <h4><%= t("landing.video") %> <i class="far fa-play-circle ml-1"></i></h4>
      <% end %>
      <br><br><br>
      <p class="lead offset-lg-2 col-lg-8 col-sm-12">
        <%= t("landing.still_testing_need_feedback").html_safe %>
      </p>
      <p class="lead offset-lg-2 col-lg-8 col-sm-12">
        <%= t("landing.reach_us").html_safe %>
      </p>
    </div>
  </div>
</div>